$color-background: #E2E6E7;
$color-dark-background: #0d0d0f;
$color-background-gradient: #1d172a;
$color-background-dot: #989ea0;
$color-foreground: #2f3335;
$color-muted: #dcdfe0; // this one is used on index.json or ingest. Keep on root as well.
$color-muted-foreground: #6e7476;
$color-card: #d3d6d6;
$color-quote: #4d4d4d;
$color-quote-background: #dcdddd;
$color-callout: #585f62;
$color-callout-background: #d9dedf;
$color-tag-background: #ccd1d2;
$color-obsidian-link: #b462ff;
$color-top-link: #989ea0;
$color-top-link-active: #16131b;
$color-link: #3199f3;
$color-border: #CDD5D6;
$color-divider: #eceeee;
$color-accent: #31F382;