
:root {
    --vault42-background: #E2E6E7;
    --vault42-dark-background: #0d0d0f;
    --vault42-background-gradient: #1d172a;
    --vault42-background-dot: #989ea0;
    --vault42-foreground: #2f3335;
    --vault42-muted: #dcdfe0; // this one is used on index.json or ingest. Keep on root as well.
    --vault42-muted-foreground: #6e7476;
    --vault42-card: #d3d6d6;
    --vault42-quote: #4d4d4d;
    --vault42-quote-background: #dcdddd;
    --vault42-callout: #585f62;
    --vault42-callout-background: #d9dedf;
    --vault42-tag-background: #ccd1d2;
    --vault42-obsidian-link: #b462ff;
    --vault42-top-link: #989ea0;
    --vault42-top-link-active: #16131b;
    --vault42-link: #3199f3;
    --vault42-border: #CDD5D6;
    --vault42-divider: #eceeee;
    --vault42-accent: #31F382;
}