@use './colors';
@use './fonts';
@use './reset';
@use './text';
@use './meta';
@use './media';
@use './layout';

:root {
    --text-column-max-width: 800px;
    --body-2: 17px;
    --leading-155: 1.55;
    --prose-line-height: 1.5em;
    --weight-text-regular: 400;
    --background-dot-spacing: 133px;
    --background-dot-size: 1px;
}

body {
  background: var(--vault42-background);
  color: var(--vault42-foreground);
  box-sizing: border-box;
  font-family: var(--font-serif);
  font-weight: 300;
  margin: 0;
  line-height: 1.55;
  padding: 0;
  overflow-x: hidden;
  font-size: 1rem;

  inset: 0;
  height: 100%;
  width: 100%;

    @media (min-width: 820px) {
      font-size: 1.1rem;
    }
}

button,
input {
  font: inherit;
}
